body{
    margin: 10px;
    padding: 10px;
}

.side-panel{
    margin-top: 40px;
    padding: 2px;
    border: 1px solid black;
}
.side-header{
    padding: 2px;

}

.card {
    height: 310px;
    width: 250px;
    overflow: hidden;
}


.flex-container{
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around
}
