{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
body{
  background: #f5f5f5;
  margin-right: 0px;
  padding-right: 0px;
}

.mapouter{
position:relative;
text-align:right;
height:466px;
width:350px;
}

.gmap_canvas {
overflow:hidden;
background:none!important;
height:466px;
width:350px;
}

#locations{

}

</style>
{% endblock %}


{% block body %}
{% include 'homeNavBar.html' %}


<div class="row">
  <div class="col l12 s12 grey white-text center ">
    <span>
    {% if user.is_authenticated and user.customers.profile_picture %}
      <h3 class="flow-text">  <img src="{{user.customers.profile_picture.url}} " class=" btn-floating grey darken-4 z-depth-0"> Welcome {{ user }}</h3>
    {% else %}
       <h3 class="flow-text"><i class="material-icons btn-floating grey darken-4 z-depth-0">person_outline</i>   Welcome {{ user }}</h3>
    {% endif %}
    </span>

  </div>

<div class="row">
    <div class="col s12 l4 side-panel grey darken-1">
        <h3 class="flow-text">

      <a href="#" class="btn-floating grey darken-4 z-depth-0 ">
            <i class="material-icons">notifications</i>
          <span class="new badge white-text red darken-3 " style=" top:20px; right:30px;"> {{notifications_count}}</span>
        </a>

        Notifications
        </h3>

        {% for notification in notifications %}
           <p>{{notification}} </p>
        <hr>
        {% endfor %}

        {% if user.is_authenticated and user.customers.profile_picture %}
          <h3 class="flow-text">  <img src="{{user.customers.profile_picture.url}} " class=" btn-floating grey darken-4 z-depth-0"> Account Information</h3>
        {% else %}
           <h3 class="flow-text"><i class="material-icons btn-floating grey darken-4 z-depth-0 center">person_outline</i>  Account Information</h3>
        {% endif %}

        <div class="grey ">
           <p>Name: {{user.customers}}</p>
           <p>Email: {{user.email}}</p>
            {%if user.customers.email_verified%}
            <p>Email status: Unverified </p>
            {% else %}
            <p>Email status: Verified</p>
            {% endif %}
            <p>Id Number: {{user.customers.id_number}}</p>
            <p>Country: {{user.customers.country}}</p>
            <p>Street: {{user.customers.street}}</p>
            <p>City: {{user.customers.city}}</p>
            <p>Postal Code: {{user.customers.postal_code}}</p>
        </div>


    </div>

    <!-------------------------------- right section Begins ----------------------------------------->
    <div class="col l8 s12 ">
    <div  class="container ">
      <h3 class="center"><i class="fas fa-shopping-cart green-text text-darken-4"></i>  Your Cart</h3>
      <br><br>

      <ul>
           {% if cart_items %}
        <div class="row">

        {% for item in cart_items %}
        <li>

                <div class="row">
            <div class="col s12 l12">
              <a href="modify_cart/{{item.id}} " name="cart_item_id"> <i class="material-icons right">close</i></a>
            </div>
            <div class="col s12 l5">
              <img src="{{ item.car.image.url }}" class="responsive-img materialboxed left">
            </div>
            <div class="col s12 l7">
              <h6><b>{{ item.car }}</b></h6>
              <br>
                <b>Manufacturer:  {{ item.car.manufacturer }}</b><br>
               <b>Body Type:  {{ item.car.body_type }}</b><br>
               <b>Sub Body Type:  {{ item.car.sub_body_type }}</b><br>
               <b>Steering:  {{ item.car.steering }}</b><br>
               <b>Transmission:  {{ item.car.transmission }}</b><br>
               <b>Fuel:  {{ item.car.fuel }}</b><br>
              <p class="green-text">
                $ {{item.car.price}}
              </p>
          </div>
          </div>
  </li>

        {% endfor %}
          </div>
      </ul>
        <a href="{% url 'payment' %}" class="center green-text"><h3 class="btn large green white-text right">Proceed to Checkout  <i class="material-icons medium ">done_all </i></h3></a>
      <br><br>
         {% else %}
            <ul class="collection">
                <li class="collection-item ">
                    <h5 class="center">You have Nothing In Your Cart </h5>
                    <br>
                    <a href="/">Add items to Cart?</a>
                </li>
            </ul>

        {% endif %}

        <h3 class="center"><i class="fas fa-dollar-sign"></i>  Your Transactions</h3>
      <br><br>
      <h4 class="flow-text center orange-text text-darken-3"><i class="fas fa-hourglass-half"></i> Pending Transactons</h4>
          {% if pending %}
        <ul class="collection">
            {% for order in pending %}
                <li class="collection-item avatar">
                  <img src="{{order.car.image.url}}" alt="" class="circle" width="100" height="100">
                  <span class="title">{{order.car}}</span>
                    <p>Price: $ {{order.car.price}}</p>
                    <p>Status: Awaiting Delivery</p>
                  <a href="{{order.id}}/complete" class="secondary-content"><i class="material-icons">info_outline</i></a>
                </li>
            {% endfor %}
        </ul>
        {% else %}

        <ul class="collection">
                <li class="collection-item ">
                    <h5 class="center">You have No Pending Transactions </h5>
                </li>
        </ul>


        {% endif %}
      <br><br>

      <h4 class="flow-text center red-text"><i class="fas fa-history"></i> History</h4>
        <br>
        {% if completed %}
      <ul class="collection">

          {% for order in completed %}
        <li class="collection-item avatar">
                  <img src="{{order.car.image.url}}" alt="" class="circle" width="100" height="100">
                  <span class="title">{{order.car}}</span>
                    <p>Price: $ {{order.car.price}}
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
        {% endfor %}
      </ul>
        {% else %}
            <h5 class="center">You have No Completed Transactions </h5>
        {% endif %}

    </div>
 </div>
    <!-------------------------------- right section Ends ------------------------------------------->

</div>

   </div>





</div>

{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function(){
            $('.dropdown-trigger').dropdown(
              {
                coverTrigger: false,
                constrainWidth: false,
                alignment: 'left',
              }
            );
            $('select').formSelect();

            $('.sidenav').sidenav(
            {
                'draggable': true,
       });

       $('#notifications').removeClass('hide');
        $('#notifications_count').removeClass('hide');
        });
</script>

{% endblock %}


