{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
body{
  background: #f5f5f5;
  margin-right: 0px;
  padding-right: 0px;
}

.mapouter{
position:relative;
text-align:right;
height:466px;
width:350px;
}

.gmap_canvas {
overflow:hidden;
background:none!important;
height:466px;
width:350px;
}

#locations{

}

</style>
{% endblock %}


{% block body %}
{% include 'homeNavBar.html' %}


<div class="row">
  <div class="col l12 s12 grey white-text center ">
    <span>
    {% if user.is_authenticated and user.customers.profile_picture %}
      <h3 class="flow-text">  <img src="images/{{user.customers.profile_picture}} " class=" btn-floating grey darken-4 z-depth-0"> Welcome {{ user }}</h3>
    {% else %}
       <h3 class="flow-text"><i class="material-icons btn-floating grey darken-4 z-depth-0">person_outline</i>   Welcome {{ user }}</h3>
    {% endif %}
    </span>

  </div>


  <div class="col l12 s12 " id="transactions">
    <div  class="container ">
      <h2 class="center"><i class="fas fa-shopping-cart green-text text-darken-4"></i>  Your Cart</h2>
      <br><br>

      <ul>
        <div class="row">
        {% for item in cart_items %}
        <li>

                <div class="row">
            <div class="col s12 l12">
              <a href="modify_cart/{{item.id}} " name="cart_item_id"> <i class="material-icons right">close</i></a>
            </div>
            <div class="col s12 l5">
              <img src="images/{{ item.car.image }}" class="responsive-img materialboxed left">
            </div>
            <div class="col s12 l7">
              <h6><b>{{ item.car }}</b></h6>
              <br>
                <b>Manufacturer:  {{ item.car.manufacturer }}</b><br>
               <b>Body Type:  {{ item.car.body_type }}</b><br>
               <b>Sub Body Type:  {{ item.car.sub_body_type }}</b><br>
               <b>Steering:  {{ item.car.steering }}</b><br>
               <b>Transmission:  {{ item.car.transmission }}</b><br>
               <b>Fuel:  {{ item.car.fuel }}</b><br>
              <p class="green-text">
                $ {{item.car.price}}
              </p>
          </div>
          </div>
  </li>

        {% endfor %}
          </div>
      </ul>
        <a href="{% url 'payment' %}" class="center green-text"><h3 class="btn large green white-text right">Proceed to Checkout  <i class="material-icons medium ">done_all </i></h3></a>
      <br><br>

        <h2 class="center"><i class="fas fa-dollar-sign"></i>  Your Transactions</h2>

      <br><br>
      <h4 class="flow-text center orange-text text-darken-3"><i class="fas fa-hourglass-half"></i> Pending Transactons</h4>
          {% if orders %}
      <ul>

          {% for order in orders %}
        <li><h6 class="flow-text"><i class="material-icons blue-text">done </i><a href="" class="black-text"> Date Due, Item</h6></a></li>
        <hr class="divider"><br>
        {% endfor %}
      </ul>
        {% else %}
            <h3 class="center">You have No Pending Transactions </h3>
        {% endif %}
      <br><br>

      <h4 class="flow-text center red-text"><i class="fas fa-history"></i> History</h4>
        <br>
        {% if orders %}
      <ul>

          {% for order in orders %}
        <li><h6 class="flow-text"><i class="material-icons blue-text">done </i><a href="" class="black-text"> Date, Item</h6></a></li>
        <hr class="divider"><br>
        {% endfor %}
      </ul>
        {% else %}
            <h3 class="center">You have No Transactions </h3>
        {% endif %}

    </div>
 </div>
   </div>





</div>

{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function(){
            $('.dropdown-trigger').dropdown(
              {
                coverTrigger: false,
                constrainWidth: false,
                alignment: 'left',
              }
            );
            $('select').formSelect();

            $('.sidenav').sidenav(
            {
                'draggable': true,
       });
        });
</script>

{% endblock %}


