{% extends 'base.html' %}
{% load static %}

{%  block body  %}
{% if user_authenticated  %}
    {% include 'homeNavBar.html' %}
{% else %}
    {% include 'baseNavBar.html' %}
{% endif %}

<div class="row">
    <div class="col s4 m3 l2 side-panel center" >
       <div class="grey darken side-header "><h5 >Car Makes</h5></div>
        <ul>
            <a href="{% url 'home' %}">All Cars</a>
        {% for man in manufacturers %}
        <li>
            <a href="/?manufacturer_={{man.manufacturer}}" class="black-text ">
                <span class="valign-wrapper ">
                <img class="left" src="{{man.logo.url}}" alt="Manufacturer Logo" width=50 height=42 >
                {{ man.manufacturer }}
             </span>
            </a>

        <br>
        </li>
        {% endfor %}
        </ul>
    </div>



    <div class="col s5 l8 ">
        <h3 class="center-align">Available Cars </h3>
 <div class="row">
     {% if cars %}
    {% for car in cars %}
        <div class="col s12 m6 l4">
        <div class="card">
        <div class="card-image">
          <img src=" {{ car.image.url }}" width=60 height="160" class="materialboxed">
          <span class="card-title"> {{car.manufacturer}} </span>
          <a class="btn-floating halfway-fab waves-effect waves-light red pulse" href="/?id={{car.id}}"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content ">
           <p class="indigo-text text-darken-3">{{ car.manufacturer }} {{ car.body_type }} {{ car.sub_body_type }} </p>
            Price:  $ {{car.price}}
        </div>
        <div class="card-action">
            <p><a href="{{car.id}}/view_car">View More</a></p>
        </div>
      </div>
     </div>
    {% endfor %}
     {% else %}
        <h3 class="center red-text">No Car Meets the Search Criteria</h3>
     {% endif %}

 </div>

    </div>

    <div class="col s3 l2 side-panel hide-on-med-and-down">
        <div class="grey darken side-header center"> <h5>Services offered</h5></div>
        <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">shopping_cart</i>Purchase A Car</div>
      <div class="collapsible-body"><span>
          Kindly login to purchase a car
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">security</i>Warranty</div>
      <div class="collapsible-body"><span>
          The average warranty of a car is 3 years, approximately 36,000 miles, if well taken care of these cars will give you service for much longer.
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">phone</i>Contact Us</div>
      <div class="collapsible-body"><span>
         Our email: ocdgroup1@gmail.com
      </span></div>
    </li>
  </ul>
    </div>
</div>


{% endblock body %}
{% block scripts %}
<script>
$(document).ready(function(){
    $('.materialboxed').materialbox();
    $('.collapsible').collapsible();
    $('.sidenav').sidenav(
            {
                'draggable': true,
       });

    $('.dropdown-trigger').dropdown(
        {
            /* 'hover': true, */
            'constrainWidth': false,
            'coverTrigger' : false,
            'alignment' : 'center',
            'closeOnClick' : false,
        });

     $('select').formSelect();
});
</script>
{% endblock %}