{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


body{
  background: #f5f5f5;
  margin-right: 0px;
  padding-right: 0px;
}

.mapouter{
position:relative;
text-align:right;
height:466px;
width:350px;
}

.gmap_canvas {
overflow:hidden;
background:none!important;
height:466px;
width:350px;
}

#locations{

}

</style>
{% endblock %}


{% block body %}
{% include 'homeNavBar.html' %}
<div class="row">
  <div class="col l12 s12 grey white-text center ">
    <span>

      <h3 class="flow-text">  <img src="{% static 'images/puppy.jpg' %}" class=" btn-floating grey darken-4 z-depth-0"> Welcome {{ user }}</h3>
    </span>

  </div>

  <div class="col l3 s12 white-text grey darken-2 side-panel " id="locations">
    <h4 class="">  Our Locations  </h4>
    Collect your vehicle at any of the below locations, unless you want it shipped, in which case,
    you will specify the shipping location.<br><br>
    <div class="mapouter">
      <div class="gmap_canvas"><iframe width="400" height="466" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20Nairobi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
      </iframe><a href="https://www.whatismyip-address.com">ip</a></div>
    </div>
    <br><br>
  </div>

<!-- ############################### Make Payment ############ -->
   <div class="col l9 s12 " id="make_payment">
    <div  class=" container center ">
      <h2> <i class="fas fa-money-bill-wave green-text text-darken-3 "></i> Make Payment</h2>
        <h4>Items in Your Cart Cart</h4>
      <br>

      <ul>
        {% for item in cart_items %}
        <li>
          <div class="row">
            <div class="col s12 l12">
              <a href="delete_cart/{{item.id}} " name="cart_item_id"> <i class="material-icons right">close</i></a>
            </div>
            <div class="col s12 l5">
              <img src="{{ item.car.image.url }}" class="responsive-img materialboxed left">
            </div>
            <div class="col s12 l7">
              <h6><b>{{ item.car }}</b></h6>
              <br>
                <b>Manufacturer:  {{ item.car.manufacturer }}</b><br>
               <b>Body Type:  {{ item.car.body_type }}</b><br>
               <b>Sub Body Type:  {{ item.car.sub_body_type }}</b><br>
               <b>Steering:  {{ item.car.steering }}</b><br>
               <b>Transmission:  {{ item.car.transmission }}</b><br>
               <b>Fuel:  {{ item.car.fuel }}</b><br>
              <p class="green-text">
                $ {{item.car.price}}
              </p>
          </div>
          </div>
        </li>

        <hr class="divider">
        {% endfor %}
      </ul>
      <h4>Total Price: $ {{total_price}}</h4>
      <br>

      <!-- Checkout Form -->

      <div class="container">

            <form action="/charge" method="post" id="payment-form">
              <div class="input-field">
                <label for="name">Name</label>
                <input type="text" name="name">
              </div>
               <div class="input-field">
                <label for="email">Email</label>
                <input type="text" name="email">
              </div>
              <div class="form-row">
                <label for="card-element">
                  Credit or debit card
                </label>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
              </div>

              <br><br>
              <button class="btn">Submit Payment</button>
            </form>

      </div>
  </div>
   </div>
<!-- ##############################              ################################# -->




</div>

{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function(){
            $('.dropdown-trigger').dropdown(
              {
                coverTrigger: false,
                constrainWidth: false,
                alignment: 'left',
              }
            );
            $('select').formSelect();
            $('.sidenav').sidenav(
            {
                'draggable': true,
       });
        });
</script>
<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe('pk_test_51H3WhAK9AbYX1AmlY51fWJi3eVc8ZVRVwHoFvTJbsDD4wkDiZVUuATSzDjbB2D9nC8bP6qoTB9q5qNZNRWJpCCLs00KtBt0lIC');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.on('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

// Submit the form with the token ID.
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
</script>
{% endblock %}


