{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
section{
  background: url({% static 'images/parallax5.jpg' %});
  opacity: 0.9;
}

.white-text-form input, .white-text-form input select, .white-text-form input textarea {
      color: #fff;
}


.white-text-form textarea:focus, .white-text-form input:focus {
    color: #fff;
}

.form{
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.tabs .indicator{
      background-color: #1a237e;
    }

.tabs .tab a:focus, .tabs .tab a:focus.active{
  background: transparent;
}

</style>
{% endblock %}

{%  block body  %}
{% include 'baseNavBar.html' %}

  <div class="section ">
    <section>
    <div class="row container grey darken-4 white-text ">
        <div class="col s12 l6 offset-l3 center form">
          <img src="{% static 'images/logo.PNG' %}">
          <h2 class="flow-text">Welcome to MotorHub</h2>
          <h2> Sign Up </h2>

          <form action="" method="post" class="white-text-form" autocomplete="off">
            {% csrf_token %}
            <div class="row">
<!--              <div class="col s12 l6">
                <div class="input-field">
                   {{ sign_up.first_name }}
                  <label for="{{sign_up.first_name.id_for_label}}">{{sign_up.first_name.label}}</label>
                </div>
              </div>
                <div class="col s12 l6">
                  <div class="input-field">
                   {{ sign_up.last_name }}
                  <label for="{{sign_up.last_name.id_for_label}}">{{sign_up.last_name.label}}</label>
                </div>
                </div>
            </div>
-->
            <div class="col s12 l12">
                <div class="input-field">
                  {{ sign_up.username }}
                  <label for="{{sign_up.username.id_for_label}}">{{sign_up.username.label}}</label>
              </div>
             </div>

            <div class="col s12 l12">
                <div class="input-field">
                  {{ sign_up.email }}
                  <label for="{{sign_up.email.id_for_label}}">{{sign_up.email.label}}</label>
              </div>
             </div>
<!--
             <div class="col s12 l12">
                <div class="input-field">
                  {{ sign_up.id_number }}
                  <label for="{{sign_up.id_number.id_for_label}}">{{sign_up.id_number.label}}</label>
              </div>
             </div>
-->

             <div class="col s12 l6">
                <div class="input-field">
                   {{ sign_up.password }}
                  <label for="{{sign_up.password.id_for_label}}">{{sign_up.password.label}}</label>
                </div>
              </div>
              <div class="col s12 l6">
                <div class="input-field">
                 {{ sign_up.confirm_password }}
                <label for="{{sign_up.confirm_password.id_for_label}}">{{sign_up.confirm_password.label}}</label>
                </div>
              </div>
<!--
          <div class="col s12 l12">
            <div class="input-field ">
                  {{ sign_up.country }}
                  <label for="{{sign_up.country.id_for_label}}">{{sign_up.country.label}}</label>
              </div>
          </div>


          <div class="col s12 l6">
            <div class="input-field">
               {{ sign_up.city }}
              <label for="{{sign_up.city.id_for_label}}">{{sign_up.city.label}}</label>
            </div>
          </div>
          <div class="col s12 l6">
            <div class="input-field">
             {{ sign_up.street }}
            <label for="{{sign_up.street.id_for_label}}">{{sign_up.street.label}}</label>
            </div>
          </div>

          <div class="col s12 l12">
            <div class="input-field">
             {{ sign_up.postal_code }}
            <label for="{{sign_up.postal_code.id_for_label}}">{{sign_up.postal_code.label}}</label>
            </div>
          </div>
-->
            <div class="col s5 l12">
              <div class="input-field ">
              <button type="submit" class="btn">Sign Up</button>
            </div>
            </div>
          </form>

          <br>
         <div class="left">
           <h6 class="">Already Have An Account?</h6>
           <a href="login" class="left ">Login</a>
        </div>
    </div>
    </div>
    </section>
  </div>


<div class="container">
<div class="row">
      <div class="col s12 l4">
        <h2 class="">What we do</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="col s12 l7 offset-l1">
  <div class="container section">
    <div class="row">
      <h3>Services</h3>
         <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#hire">Hire</a></li>
        <li class="tab col s3"><a class="active" href="#buy">Buy</a></li>
        <li class="tab col s3 "><a href="#import">Import</a></li>

      </ul>
    </div>
    <div id="hire" class="col s12">
      <p>
         At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
    </div>
    <div id="buy" class="col s12">
      <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
    </div>
    <div id="import" class="col s12">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>

  </div>
    </div>
  </div>

    </div>
  </div>
</div>


    <div class="parallax-container">
      <div class="parallax">
        <img src="images/globalgarage.webp" class="responsive-img">
      </div>

    </div>


<div class="container">
<div class="row">
      <div class="col s12 l5">
        <h2 class="">Get In Touch</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="col s12 l5 offset-l2">
  <div class="container section">
    <div class="row">
      <h3>Contact Us</h3>
      <form class="black-text">
        {% csrf_token %}
        {% for field in contact_form %}

          <div class="input-field">
            <label for="{{field.id_for_label}}">{{ field.label }}</label>
            {{field}}
          </div>
        {% endfor %}
        <div class="input-field ">
          <button type="submit" class="btn">Send <i class="material-icons right">send</i></button>
        </div>
      </form>
    </div>
  </div>


    </div>
  </div>
</div>

{% endblock body %}
{% block scripts %}

<script>
$(document).ready(function(){
  $('.parallax').parallax();
  $('.tabs').tabs();
  $('select').formSelect();
});
</script>

{% endblock %}